<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Finance</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>FinanceServlet</display-name>
    	<servlet-name>FinanceServlet</servlet-name>
    	<servlet-class>com.smartglossa.Finance.FinanceServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Account</display-name>
    	<servlet-name>Account</servlet-name>
    	<servlet-class>com.smartglossa.accounts.Account</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PaymentServlet</display-name>
    	<servlet-name>PaymentServlet</servlet-name>
    	<servlet-class>com.smartglossa.payment.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AccountServlet</display-name>
    	<servlet-name>AccountServlet</servlet-name>
    	<servlet-class>accountServlet.AccountServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserServlet</display-name>
    	<servlet-name>UserServlet</servlet-name>
    	<servlet-class>com.smartglossa.user.UserServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CustomerAccount</display-name>
    	<servlet-name>CustomerAccount</servlet-name>
    	<servlet-class>com.smartglossa.customer.CustomerAccount</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>FinanceServlet</servlet-name>
    	<url-pattern>/finance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Account</servlet-name>
    	<url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PaymentServlet</servlet-name>
    	<url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AccountServlet</servlet-name>
    	<url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserServlet</servlet-name>
    	<url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerAccount</servlet-name>
    	<url-pattern>/CustomerAccount</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    </web-app>
