ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
}
li {
    float: left;
}

li  {
    display: block;
    color: red;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #03a9f4;
}
 input[type="text"],select, input[type="date"] {
  width:200px;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size:20;
  outline-color:blue;
}
#msg{
	color:red;
}
.getAllCus,.getAllAccount,.getAllPayment{
	float:right;
}
/*.cus,.account,.pay,.sta{
	border:solid 1px green;
	width:250px;
	height:430px;
	float:left;
	position:absolute;
	z-index:-2;
	background-color:#9e9e9e;
	margin-left:420px;
	text-align:center;
	margin-top:-600px;

}*/
.sta
{
	height:100px;
}
#logout{
  float: right;
}
