ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}

li  {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #03a9f4;
}
 input[type="text"],select, input[type="date"] {
  width:200px;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size:20;
  outline-color:blue;
}
#msg{
	color:red;
}
.getAllCus,.getAllAccount,.getAllPayment{
	float:right;
}
.cus,.account,.pay{
	width:250px;
	float:left;
	position:absolute;
	z-index:100;
	
}